////// VARIABLES //////

//---- Colores ----//

//---- tamaños ----//
limites = 80%

////// FUNCIONES //////
alinear()
	display inline-block
	vertical-align arguments

////// IMPORT //////
@import 'nib'

////// CSS //////
//---- Pre-Render ----//

//---- Body ----//
*
	-webkit-font-smoothing antialiased
	box-sizing border-box
a 
	text-decoration none
	color inherit
ul 
	list-style none 
	padding 0
	margin 0
body 
	font-family 'Open Sans'
	
//---- Hellper ----//
.wrapper
	position relative
	display block
	transition all 0.5s ease
	overflow hidden
	height inherit
	.caption
		position absolute
		top 0
		color blueDark
		width 100%
		height 100%
		text-align center
		z-index 10
		opacity 0
		transition all 0.5s ease
	&:hover
		.caption 
			opacity 1
	img 
		z-index 1
.limitar
	max-width limites
	margin 0 auto
.centrar
	margin 0 auto
.small 
	font-size 0.8em
.big 
	font-size 1.2em
.sinmargen
	margin 0
.inline
	alinear(top)
.block
	display block
.hide 
	display none
.half 
	width 50%
.third
	width 33.3%
.right
	float right
.left
	float left
.fade
	transition all .3s ease-in-out
	&:hover
		opacity .7
/* clearfix */
.clearfix:after 
	visibility hidden
	display block
	font-size 0
	content " "
	clear both
	height 0
* html .clearfix 
	zoom 1
*:first-child+html .clearfix
	zoom 1
////// Responsive /////

// @media screen and (max-width: 320px) 
// @media screen and (max-width: 480px) 
// @media screen and (max-width: 768px) 
// @media screen and (max-width: 1024px) 

// //---- Apple ----//
// // iPhone 4
// @media only screen and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) 
// // iPhone 5
// @media screen and (device-aspect-ratio: 40/71) 
// // iPad Mini
// @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1)
// // iPad 1,2,3
// //Landscape
// @media (max-device-width: 1024px) and (orientation: landscape)
// //Portrait
// @media (max-device-width: 768px) and (orientation: portrait)
// // iPad 4
// @media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) 