meta(charset='UTF-8')
title= titulo
meta(name='description', content='DESCRIPCION_DEL_PROYECTO')
//- Viewport Configuraciones = width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes/no
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
link(rel='shrotcut icon', type='image/x-icon', href='favicon.ico')
link(rel='author', type='text/plain', href='.txt')
// CSS
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
link(href='//cdn.jsdelivr.net/normalize/3.0.0/normalize.min.css', rel='stylesheet', type='text/css')
//- link(href='//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet', type='text/css')
//- link(href='//cdn.jsdelivr.net/lightbox2/2.6/css/lightbox.css', rel='stylesheet', type='text/css')
//- link(href='//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.min.css', rel='stylesheet', type='text/css')
//- link(href='//cdn.jsdelivr.net/flexslider/2.1/flexslider.css', rel='stylesheet', type='text/css') 
link( href='css/estilos.css', rel='stylesheet', type='text/css')
// JS
script( data-main="js/app" src="js/lib/require.js" )